<a href="https://colab.research.google.com/github/nayaksom/720c_python_project/blob/master/720C_Final_Project_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# 720C

# Group Name:           Netflix and Chill
# Group Members:        1. Guneet Thakral
#                       2. Lokesh Batra
#                       3. Nishant Agarwal
#                       4. Shivani Deshmukh
#                       5. Som Nayak

In [0]:
# Dependencies
import pandas as pd

In [0]:
url_csv_netflix_data = "https://raw.githubusercontent.com/nayaksom/720c_python_project/master/netflix_data.csv"
url_csv_imdb_ratings = "https://raw.githubusercontent.com/nayaksom/720c_python_project/master/imdb_ratings.csv"

netflix_data_df = pd.read_csv(url_csv_netflix_data)
imdb_ratings_df = pd.read_csv(url_csv_imdb_ratings)

In [4]:
netflix_data_df.head()

    show_id  ...                                        description
0  81145628  ...  Before planning an awesome wedding for his gra...
1  80117401  ...  Jandino Asporaat riffs on the challenges of ra...
2  70234439  ...  With the help of three human allies, the Autob...
3  80058654  ...  When a prison ship crash unleashes hundreds of...
4  80125979  ...  When nerdy high schooler Dani finally attracts...

[5 rows x 12 columns]

In [5]:
imdb_ratings_df.head()

        IMDB_titleID  ...                                    IMDB_title_name
0  /title/tt9428190/  ...    Norm of the North: King Sized Adventure (2019)
1  /title/tt6999080/  ...    Jandino: Whatever it Takes (2016) (TV Special)
2  /title/tt1659175/  ...             Transformers Prime (2010) (TV Series)
3  /title/tt3604232/  ...   Transformers: Robots in Disguise (2014) (TV S...
4  /title/tt6119504/  ...                               #REALITYHIGH (2017)

[5 rows x 3 columns]